.main {
  height: 960px;
  width: 960px;
  display: flex;
  flex-flow: column wrap;
}
.line {
  display: flex;
}
.square {
  border: 1px solid black;
  min-height: 5px;
  min-width: 5px;
}
.hovered {
  fill: black;
}
